<html>
    <body>
        <h1>Support</h1>
        <h2>Start Screen</h2>
            U-Matrix: A matrix based on the distances between the data points.  
            P-Matrix: A matrix based on the density of data points in a specified radius.  
            Choose File: Please select a .stl file 
            Quality: The quality decides the number of smoothing-steps of the final model y thereby the size of the data file 
            Low: Delivers a less smooth matrix 
            Medium: Delivers a smooth matrix 
            High: Delivers a super smooth matrix 
            ?: Step-by-step introduction for the usage of the software- from original file to the printed model.  
        <h2>Scale</h2>
            Colorstyle: SELECT  
            Altitude Scale – Color style of a map. Low to high regions are colored from sea-blue to grass-green, earth-colored and to snow-white. 
            Political – Color style that separates the different data groups in valleys. NOT WORKING 
            Unicolor – Color style that does not shows highlights. Simplest version for sample printing or to be colored by hand. 
            Layer width: Move the switch to adapt the layer width of the color style selected. 
            Offset: Move the switch to adapt the offset. 
            Apply: Push button to apply the new changes. Redo until satisfied 
            ?: Step-by-step introduction for the usage of the software- from original file to the printed model.  
        <h2>Colormodify</h2>
            Unit: Select the unit (mm or points) of the final model. Represents the size of the printed model 
            X: Width of the model 
            Y: Length of the model 
            Z: Altitude of the model 
            Apply: Push button to apply the new changes. Redo until satisfied 
            ^: Move the model towards the upper frame 
            <: Move the model towards the left frame 
            >: Move the model towards the right frame 
            v: Move the model towards the lower frame 
            +: Zoom into the model; scales remain unchanged 
            -: Zoom out of the model; scales remain unchanged 
            Export: Export the file ready to print 
            ?: Step-by-step introduction for the usage of the software- from original file to the printed model. 
    </body>
</html>
