{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='urakel1.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('.static', filename='urakel2.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var xold = document.getElementById("xvalue").value
        var yold = document.getElementById("yvalue").value
        
        document.getElementById("xvalue").onkeyup = function () {
            if (document.getElementById("lockbutton").checked) {
            document.getElementById("yvalue").value = document.getElementById("yvalue").value*(document.getElementById("xvalue").value/xold)
            xold = document.getElementById("xvalue").value
        }
        }
        document.getElementById("yvalue").onkeyup = function () {
            if (document.getElementById("lockbutton").checked) {
            document.getElementById("xvalue").value = document.getElementById("xvalue").value*(document.getElementById("yvalue").value/yold)
            yold = document.getElementById("yvalue").value
        }
        }
          
    </script>
    {{ super() }}
{% endblock %}
{% block title %}PrUnt - Matrix skalieren{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img src="../static/Icon.png" height="50" width="50">
                    </div>
                    <p class="navbar-text">PrUnt - a software by Urakel</p>
                    <div class="nav navbar-nav navbar-right">
                        <h3><span class="glyphicon glyphicon-question-sign"></span></h3>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contentpane">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-2">
                            <form action="" method="post">
                                {{ form.hidden_tag() }}
                                <h4>
                                    X: {{ form.x }}
                                    Y: {{ form.y }}
                                    Z: {{ form.z }}
                                    <span class="glyphicon glyphicon-lock"><input type="checkbox" id="lockbutton"><br></span>
                                    <br>
                                    <br>
                                    Unit: {{ form.unit }}&nbsp;&nbsp;
                                    {{ form.submit(class_="btn btn-info btn-lg") }}
                                </h4>
                            </form>
                        </div>
                    </div>
                    <br> <br>
                    <!--<div class="row">
                        <div class="col-lg-3 col-lg-offset-2">
                            <button><span class="glyphicon glyphicon-arrow-up"></span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-lg-offset-2">
                            <button><span class="glyphicon glyphicon-arrow-left"></span></button>
                            <button><span class="glyphicon glyphicon-arrow-right"></span></button>
                        </div>

                        <div class="col-lg-3">
                            <button><span class="glyphicon glyphicon-plus-sign"></span></button>
                            <button><span class="glyphicon glyphicon-minus-sign"></span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-lg-offset-2">
                            <button><span class="glyphicon glyphicon-arrow-down"></span></button>
                        </div>
                    </div>-->
                </div>

        </div>
    <div class="col-lg-6">
        <div class="previewpane">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Vorschaubild der Matrix</h1>
                    <img id="Vorschaubild"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9GYHbaEb7UKc2O9nQFWuPDnFWPUic9cuVfIPbN4fn6iuMRr7OMg">
                </div>
            </div>
            <br>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
            <div class="backtostartbutton">
                    <a href="//localhost:5000/index"><button>Back to Start</button></a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="nextbutton">
                    <a href="//localhost:5000/umatrixmodify"><button>Next</button></a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}



