{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='urakel1.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('.static', filename='urakel2.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var xratio = (document.getElementById("xvalue").value/document.getElementById("yvalue").value)
        var yratio = (document.getElementById("yvalue").value/document.getElementById("xvalue").value)
        
        document.getElementById("lockbutton").onclick = function(){
            xratio = (document.getElementById("xvalue").value/document.getElementById("yvalue").value)
            yratio = (document.getElementById("yvalue").value/document.getElementById("xvalue").value)
        }

        document.getElementById("xvalue").onactivate = function(){
            xratio = (document.getElementById("xvalue").value/document.getElementById("yvalue").value)
            yratio = (document.getElementById("yvalue").value/document.getElementById("xvalue").value)
        }
        document.getElementById("yvalue").onactivate = function(){
            xratio = (document.getElementById("xvalue").value/document.getElementById("yvalue").value)
            yratio = (document.getElementById("yvalue").value/document.getElementById("xvalue").value)
        }

        document.getElementById("xvalue").onchange = function () {
            if (document.getElementById("lockbutton").checked) {
            document.getElementById("yvalue").value = document.getElementById("xvalue").value*yratio
        }
        }
        document.getElementById("yvalue").onchange = function () {
            if (document.getElementById("lockbutton").checked) {
                document.getElementById("xvalue").value = document.getElementById("yvalue").value*xratio
            
        }
        }
          
    </script>
    {{ super() }}
{% endblock %}
{% block title %}PrUnt - Matrix skalieren{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img src="../static/Icon.png" height="50" width="50">
                    </div>
                    <p class="navbar-text">PrUnt - a software by Urakel</p>
                    <div class="nav navbar-nav navbar-right">
                        <h3><span class="glyphicon glyphicon-question-sign"></span></h3>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contentpane">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-2">
                            <form action="" method="post" validate>
                                {{ form.hidden_tag() }}
                                <h4>
                                    X: {{ form.x }}
                                    Y: {{ form.y }}
                                    Z: {{ form.z }}
                                    <span class="glyphicon glyphicon-lock"><input type="checkbox" id="lockbutton"><br></span>
                                    <br>
                                    <br>
                                    {{ form.submit(class_="btn btn-info btn-lg") }}
                                </h4>
                            </form>
                        </div>
                    </div>
                    <br> <br>
                </div>
        </div>
    <div class="col-lg-6">
        <div class="previewpane">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Scaling of the Matrix</h1>
                    On this page you are changing the size of your future matrix. In order to keep the x and y parameter ratio, you
                    can mark the checkbox underneath the values to keep those values linked together. If you want to change them 
                    individually please untick the checkbox. The value of the z-axis has to be modified individually.
                </div>
            </div>
            <br>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
            <div class="backtostartbutton">
                    <a href="//localhost:5000/index"><button>Back to Start</button></a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="backtostartbutton">
                    <a href="//localhost:5000/colormodify"><button>Next</button></a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}



