{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='urakel1.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('.static', filename='urakel2.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-trigger="hover"]').popover();
        });
    </script>
    {{ super() }}
{% endblock %}
{% block title %}PrUnt - U-Matrix einfärben und anpassen{% endblock %}


{% block content %}
    <div class="container">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="../static/Icon.png" height="50" width="50">
                </div>
                <p class="navbar-text">PrUnt - a software by Urakel</p>
                <div class="nav navbar-nav navbar-right">
                    <h3><span class="glyphicon glyphicon-question-sign"></span></h3>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="contentpane">
                <br>
                <div class="row">
                <!-- TODO: Funktionalität -> neues Färben und anzeigen -->
                    <div class="col-lg-6 col-lg-offset-2">
                        <form method="POST" action="umatrixslider">
                            <h4>Colorstyle:</h4>
                            <select id="udropdown" name="colour" method="GET" action="/">
                                <option value="{{ colours[0] }}" selected>{{ colours[0] }}</option>
                                {% for colour in colours[1:] %}
                                    <option value="{{ colour }}">{{ colour }}</option>
                                {% endfor %}
                            </select>
                            <h4>Layer width:</h4>
                            <input type="range" min="0" max="100" name="uschichtbreite"/>
                            <h4>Offset:</h4>
                            <input type="range" min="0" max="100" name="uoffset"/>
                            <br>
                            <input class="btn btn-primary" type="submit" value="Apply"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="previewpane">
                <div class="row">
                    <div class="col-lg-12">
                        <h2><br><br> In the future you will see your transformed U-Matrix. <br> <br> <br></h2>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
    <!-- TODO: Funktionalität -> finale Parameterübergabe an nächste Maske -->
    <div class="backtostartbutton">
            <a href="//localhost:5000/index"><button>Back to Start</button></a>
    </div>
        <form action="/scale">
            <div class="col-lg-3 col-lg-offset-10">
                <a href="//localhost:5000/saveandexport"><button>Next</button></a>
            </div>
        </form>
    </div>
{% endblock %}



